<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- 웹 페이지 설명 -->
  <meta name="author" content="Kirade"
  <meta name="keyword" content="HTML, CSS, Javascript, jQuery, Python, Django, Web, Framework, Algorithm">
  <meta name="description" content="프로그래밍 공부하면서 배운 지식들의 흔적을 남기고 다른 삶들과 지식을 나누기 위한 블로그입니다.">

  <!-- 오픈 그래프 -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Kirade의 코딩로그">
  <meta property="og:description" content="프로그래밍 공부하면서 배운 지식들의 흔적을 남기고 다른 삶들과 지식을 나누기 위한 블로그입니다.">
  <meta property="og:image" content="https://kirade.github.io/public/logo.png">
  <meta property="og:url" content="https://kirade.github.io">

  <!-- 웹 페이지 타이틀 -->
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  {% if site.mathjax %}
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_SVG"> </script>
  <script type="text/x-mathjax-config">
MathJax.Hub.Config({ tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true } });
  </script>
  {% endif %}

  <!-- Google AdSence -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5530228389535933",
    enable_page_level_ads: true
  });
  </script>

  <!-- jQuery CDN -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
