---
layout: page
title: Categories
---

<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.categories %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <hr/>
  <div class="tags-expo-section">
    {% for tag in site.categories %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <small class="post-date">{{ post.date | date_to_string }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>

<!-- TIL 접기위한 자바스크립트 -->
<script type="text/javascript">

(function (){
var til = $('#til');
var ul_tag = $(til).next();
var recent = document.createElement('ul');
var li_tag = document.createElement('li');
var a_btn = document.createElement('a');
var more = document.createTextNode('더보기..');


$(ul_tag).css('display','none');

$(document).ready(function(){
  recent.setAttribute('class','tags-expo-posts');

  for(var i=0; i<5; i++){
      $(ul_tag).children().eq(i).clone().appendTo(recent);
  }
  $(more).appendTo(li_tag);
  $(li_tag).appendTo(a_btn);
  $(a_btn).appendTo(recent);

  $('#til').after(recent);
});

$(document).ready(function(){
    $(a_btn).click(function(){
        var submenu = $(this).parent().next("ul");

        if( submenu.is(":visible") ){
            submenu.slideUp();

        }else{
            submenu.slideDown();
            $(this).parent().slideUp();
        }
    });
});

})();
</script>
